body {
  background: #00c9ff;
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
  background: linear-gradient(to right, #92FE9D, #00C9FF);
  color: white;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.notesHeader,
.notesBody,
.notesFooter {
  background-color: RGBA(0, 0, 0, 0.5);
  margin: 0;
  padding: 20px;
}

.notesBody {
  margin-top: 20px;
}

.notesHeader {
  font-family: "Lobster", cursive;
}

.notesFooter {
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
}
